services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    container_name: cv-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    container_name: cv-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
